{{>header}}

<div class="container">
  <div class="row">
    <div class="col-md-12 jumbotron mt-4">
      <h1>{{titulo}}</h1>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-8">
      {{{mensaje}}}
    </div>
  </div>

  <div class="row">
    {{{listarCursos cursos}}}
  </div>
</div>

{{>footer}}